body {
	font-family: Montserrat;
}

#title {
	background-color: #010436;
	color: #fff;
	padding-bottom: 10%;
}

.container-fluid {
	padding: 3%;
}

/*nav bar*/

.title{
	padding: 10%;
}

.title button {
	margin-top: 5%;
}

.navbar-brand img {
	height: 65px;
	padding-left: 40px;
	width: 175px;
	max-width: 100%;
	margin-top: -15px;
}

.nav-item {
	padding: 0 18px;
}

.img-responsive {
	height: auto;
	display: block;
	max-width: 100%;
}

h1 {
	font-family: "Montserrat";
	font-size: 3rem;
	line-height: 1.5;
}

/*Apropos*/

#apropos {
	background-color: #010436;
}

#apropos h3 {
	color: white;
	font-family: "Montserrat";
}

#apropos h1 {
	color: #2abfb1;
}

#apropos p {
	color: white;
	font-size: 18px;
}

.about-details {
	box-shadow: 0 20px 40px #2abfb1;
	background-color: #2abfb1;
}

.about-profile img {
	height: 500px;
	margin-left: 50px;
}

/*<!-- Features -->*/

#training {
	background-color: #010436;
}

#training h4 {
	color: white;
	text-align: center;
	margin-top: 5%;
	font-family: "Montserrat";
}

#training p {
	color: white;
	margin-top: 5%;
	text-align: center;
}

.thumbnail {
      padding: 0 0 15px 0;
      border-radius: 0;
      background-color: #091c48;
 	 border: 1px solid #091c48;

  }
.thumbnail p {
      margin-top: 15px;
      color: white;
  }

.training-box h4 {
	color: #2abfb1;
}

/*#features img {
	width: 350px;
	max-width: 100%;
	height: 200px;
	margin: 0 auto;
	margin-top: 10%;
}*/

.fa-solid {
	color: #35fdea;
	margin: 20% 40%;
}

.fa-solid:hover {
	color: #8f8f8f;
}

/*testymonial section*/

#about {
	background-color: #010436;
}

#about h3{
	text-align: center;
	color: white;
	font-family: "Montserrat";
	font-size: 2rem;
	line-height: 1.5;
}

#about img {
	margin: 20px 25%;
	width: 15%;
	border-radius: 100%;
}

#about em{
	text-align: center;
	color: white;
	margin: 20px auto;
}

/*achievement*/

#achievement {
background-color: #010436;
}

.press-logo {
	width: 50%;
}

/*pricing*/

#pricing {
	background-color: #010436;
	color: white;
}

#pricing h2 {
	color: #2abfb1;
}

/*contact*/

#cta {
background-color: #010436;

}

#cta h3 {
	font-family: "Montserrat";
	font-size: 2rem;
	color: white;
}

#cta button {
	margin-top: 5%;
	margin-bottom: 5%;
}

/*footer*/
#footer {
	background-color: #010436;
}

#footer p {
	text-align: center;
	color: white;

}

.fa-brands {
	padding: 15px;
	color: white;
	cursor: pointer;
}

/*getintouch*/

.logoside {
	background-color: #010436;
	padding: 20%;
}

.logoside img {
	margin-top: 5%;
	width: 200px;
	height: 100px;
}

.formside {
	background-color: #2abfb1;
	padding: 20%;
}

/*form*/

form img{
	width: 100px;
	margin-top: -100px;
}
form h2 {
	color:white ;
}
.icontacte {
	position: absolute;
	left: 0;
	top: 0;
	height: 40px;
	width: 40px;
	background-color: black;
	color: white;
}
.contacte {
	width: 450px;
	margin: -10% auto;
	padding: 50px 0;
	text-align: center;
	box-shadow: 0 20px 40px #010436;
	background-color: #010436;
}
.input-box {
	margin: 30px auto;
	width: 80%;
	position: relative;
}
.input-box input {
	width: 100%;
	height: 40px;
	border: none;
	padding-left: 40px;
	background-color: #efefef;
}
.fa {
	padding: 10px;
	color: #fff; 
}
.envoyer {
	display: block;
	color: #fff;
	width: 130px;
	height: 40px;
	margin-left: 10%;
	border: 0;
	font-size: 16px;
	outline: none;
	background-color: black;
	cursor: pointer;
}

.message-box {
	width: 100%;
	height: 100px;
	border: none;
	padding-left: 40px;
	background-color: #efefef;
}
