body {
	font-family: Montserrat;
}

#title {
	background-color: #010436;
	color: #fff;
	padding-bottom: 10%;
}

.container-fluid {
	padding: 3%;
}

/*nav bar*/

.title{
	padding: 10%;
}

.title button {
	margin-top: 5%;
}

.navbar-brand img {
	height: 65px;
	padding-left: 40px;
	width: 175px;
	max-width: 100%;
	margin-top: -15px;
}

.nav-item {
	padding: 0 18px;
}

.img-responsive {
	height: auto;
	display: block;
	max-width: 100%;
}

h1 {
	font-family: "Montserrat";
	font-size: 3rem;
	line-height: 1.5;
}

/*<!-- Features -->*/

#training {
	background-color: #010436;
}

#training h4 {
	color: white;
	text-align: center;
	margin-top: 5%;
	font-family: "Montserrat";
}

#training p {
	color: white;
	margin-top: 5%;
	text-align: center;
}

.thumbnail {
      padding: 0 0 15px 0;
      border-radius: 0;
      background-color: #091c48;
 	 border: 1px solid #091c48;

  }
.thumbnail p {
      margin-top: 15px;
      color: white;
  }

/*#features img {
	width: 350px;
	max-width: 100%;
	height: 200px;
	margin: 0 auto;
	margin-top: 10%;
}*/

.fa-solid {
	color: #8f8f8f;
	margin: 20% 40%;
}

.fa-solid:hover {
	color: #35fdea;
}

/*testymonial section*/

#about {
	background-color: #010436;
}

#about h3{
	text-align: center;
	color: white;
	font-family: "Montserrat";
	font-size: 2rem;
	line-height: 1.5;
}

#about img {
	margin: 20px 25%;
	width: 15%;
	border-radius: 100%;
}

#about em{
	text-align: center;
	color: white;
	margin: 20px auto;
}

/*achievement*/

#achievement {
background-color: #010436;
}

.press-logo {
	width: 50%;
}

/*pricing*/

#pricing {
	background-color: #010436;
	color: white;
}

/*contact*/

#cta {
background-color: #010436;

}

#cta h3 {
	font-family: "Montserrat";
	font-size: 2rem;
	color: white;
}

#cta button {
	margin-top: 5%;
	margin-bottom: 5%;
}

/*footer*/
#footer {
	background-color: #010436;
}

#footer p {
	text-align: center;
	color: white;

}

.fa-brands {
	padding: 15px;
	color: white;
}